<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	 <appSettings>
		<add key="sharedDriveId" value="0AOK8sNG1A7EEUk9PVA" />
		 <add key ="pdfName" value ="cardapio"/>
		 <add key="LogPath" value="./log/"/>
		 <add key="client" value="client_secret_931112807338-mf81e3jp6uoqobm9d08dhb4fp728ii34.apps.googleusercontent.com.json"/>
		 <add key ="ApiKey" value="af7fd649d60647678fa333702aaffbbc"/>
		 <add key="PathQuestion" value="./prompt/Question.txt"/>
		 <add key="Endpoint" value="https://mul-gpt-eastus.openai.azure.com/openai/deployments/GPT-4o/chat/completions?api-version=2024-02-15-preview"/>
		 <add key="MailRemetente" value="suporteti.mul@tramontina.com"/>
		 <add key="MailDestinatario" value="avisosbi.mul@tramontina.com"/>
		 <add key="smtpServer" value="smtp.tramontina.net"/>
		 </appSettings>
	<connectionStrings>
		<add name="SistemaTramontina" connectionString="Data Source=35.199.83.109;Initial Catalog=SistemaTramontina;Integrated Security=true;MultipleActiveResultSets=True;TrustServerCertificate=True;" providerName="System.Data.Sql"/>
		<add name="SistemaTramontina-DEBUG" connectionString="Data Source=35.199.83.109;Initial Catalog=SistemaTramontina;User Id=sa;Password=Tr@montin@.;;MultipleActiveResultSets=True;TrustServerCertificate=True;" providerName="System.Data.Sql"/>

	</connectionStrings>
</configuration>